:root {
  /* COLORS */
  --white: #ffffff;
  /* --background-color : rgb(255, 253, 245); */
  --primary-color: rgb(16, 134, 189);
  --primary-color-gradient: linear-gradient(
    to bottom right,
    rgb(101, 197, 241),
    rgb(16, 134, 189)
  );
  --highlight-color: rgb(112, 166, 248);
  --default-color: rgb(225, 237, 254);
  --complete-color: linear-gradient(
    to bottom right,
    rgb(136, 243, 193),
    rgb(16, 156, 91)
  );
  --incomplete-color: linear-gradient(
    to bottom right,
    rgb(245, 166, 179),
    rgb(207, 56, 81)
  );
  --start-date-color: linear-gradient(
    to bottom right,
    rgb(241, 237, 103),
    rgb(202, 196, 30)
  );
  --primary-text-color: rgb(84, 84, 84);
  --secondary-text-color: rgb(135, 135, 135);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'nixie one', 'avenir', arial;
  text-align: center;
  margin: 20px;
  background: var(--white);
  color: var(--primary-text-color);
}

#view-header {
  padding: 20px;
  text-transform: capitalize;
  font-weight: lighter;
  font-size: 50px;
  color: var(--primary-text-color);
}

.view-option {
  display: inline-block;
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.selected-view {
  font-weight: bold;
  border-bottom: 3px solid var(--primary-color);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.view-container {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: auto;
}

.view {
  width: 100%;
  padding-top: 20px;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out;
}

#today-view {
  position: absolute;
  top: 0;
}

/* hide table */

.hidden {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.table {
  margin: 0 auto;
}

.cell {
  text-align: center;
  border-radius: 5px;
  background: var(--default-color);
  color: var(--white);
  font-weight: lighter;
}

.date-cell {
  width: 30px;
  background: var(--primary-color);
}

.habits-header-cell {
  min-width: 250px;
  background: var(--highlight-color);
  color: var(--white);
}

.month-habit-title-cell {
  height: 30px;
  background: var(--primary-color);
  position: relative;
}

.today-habit-title-cell {
  height: 35px;
  position: relative;
  color: var(--white);
  background: var(--primary-color);
  font-size: 20px;
  padding: 5px 30px;
  min-width: 150px;
}

.daily-cell {
  cursor: pointer;
}

.checkbox-cell {
  text-align: center;
  border-radius: 5px;
  color: var(--white);
  width: 35px;
  font-size: 20px;
  cursor: pointer;
}

.highlight {
  background: var(--highlight-color);
}

.complete {
  background: var(--complete-color);
}

.incomplete {
  background: var(--incomplete-color);
}

.start-date {
  background: var(--start-date-color);
}

.today-delete,
.month-delete {
  border: none;
  cursor: pointer;
  background: transparent;
  position: absolute;
}

.today-delete {
  color: var(--default-color);
  right: 5px;
  top: 10px;
}

.month-delete {
  color: var(--white);
  left: 5px;
  top: 8px;
}

.form-container {
  position: relative;
}

#form {
  margin: 40px;
}

.form-item {
  position: relative;
  background: var(--default-color);
  width: 250px;
  height: 50px;
  border-radius: 5px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#habit-title-input {
  width: 90%;
  font-family: 'avenir', arial;
  font-size: 18px;
  border: none;
  outline: none;
  padding: 3px;
  margin: 3px auto;
  background: var(--default-color);
  text-align: center;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

#habit-title-input:focus {
  margin-top: 12px;
  border-bottom: 1px solid var(--secondary-text-color);
}

#habit-title-input:focus + .label {
  margin-top: -15px;
  font-size: 12px;
}

#habit-title-input:valid + .label {
  margin-top: -15px;
  font-size: 12px;
}

.label {
  position: absolute;
  font-size: 18px;
  padding: 5px;
  left: 50%;
  width: 100%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: var(--secondary-text-color);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px;
}

.credits {
  font-size: 12px;
  color: var(--primary-text-color);
}

.credits a {
  color: var(--primary-color);
  text-decoration: none;
}

.credit-image {
  width: 75px;
}
