:root {
  /* COLORS */
  --white: #ffffff;
  --background-color: rgb(255, 253, 245);
  --primary-color: rgb(55, 130, 243);
  --highlight-color: rgb(112, 166, 248);

  --default-color: rgb(225, 237, 254);
  --complete-color: rgb(36, 219, 134);
  --incomplete-color: rgb(252, 130, 150);

  --primary-text-color: rgb(84, 84, 84);
}

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'avenir', arial;
  text-align: center;
  margin: 20px;
  background: var(--background-color);
  color: var(--primary-text-color);
}

#month-header {
  padding: 20px;
  text-transform: lowercase;
  font-weight: lighter;
  font-size: 50px;
  color: var(--primary-text-color);
}

/* .legend-item {
  display: inline-block;
  font-size: 12px;
}

.color-sample {
  width: 20px;
  height: 20px;
  display: inline-block;
  border-radius: 5px;
  transform: translateY(5px);
  margin-right: 3px;
  color: var(--white);
} */

.cell {
  text-align: center;
  border-radius: 5px;
  background: var(--default-color);
  color: var(--background-color);
  font-weight: lighter;
}

.date-cell {
  width: 30px;
  background: var(--primary-color);
}
.habits-header-cell {
  width: 250px;
  background: var(--primary-color);
  color: var(--white);
}
.habit-title-cell {
  height: 30px;
  background: var(--highlight-color);
  position: relative;
}

.highlight {
  background: var(--highlight-color);
}

.complete {
  background: var(--complete-color);
}
.incomplete {
  background: var(--incomplete-color);
}

.delete {
  background: transparent;
  border: none;
  color: var(--background-color);
  position: absolute;
  left: 5px;
  top: 8px;
}

#form {
  margin: 40px;  
}

.table-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 20px;
}

.table {
  margin: 0 auto;
}

#habit-title-input {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  font-family: 'avenir', arial;
  font-size: 12px;
  border: 1px solid var(--primary-color);
  background: var(--background--color);
  padding: 5px;
}

#habit-submit {
  width: 50px;
  height: 30px;
  border-radius: 5px;
  border: none;
  font-family: 'avenir', arial;
  font-size: 12px;
  background: var(--primary-color);
  color: var(--background-color);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 40px;
}
.credits {
  font-size: 12px;
  color: var(--primary-text-color);
}
.credits a {
  color: var(--primary-color);
  text-decoration: none;
}